<head><link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></head>
<body>
  <div id="wrapper">
    <%= render 'layouts/sidebar' %>      
     <div id="container">        
        <section class="section" id="section5">
           <div class="container-fluid">
            <div class="row-fluid title">
              <div class="span4">
                <h2>"Grease"</h2>
              </div><!-- /span4 -->
            </div><!-- /row-fluid -->
            <div class="row-fluid content" id="insta">
              <div class="span8">
                <div class="row-fluid alt">
                  <h5><i class="fa fa-video-camera icon-3x"></i></h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</body>
