@import url(http://weloveiconfonts.com/api/?family=entypo);

  /* entypo */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }

  .popin-instaslider {
      padding:15px;
      border-radius:2px;
      max-width: 90%;
    }

    #bg {
      position:relative;  
      width:100%; 
      height:90%;
      background: #000;
    }
    #bg img {
      position:relative; 
      top:0; 
      left:0; 
      right:0; 
      bottom:0; 
      margin:auto; 
      min-width:50%;
      min-height:50%;
      opacity: 100;
    }

    #caption {
      z-index: 99999999;
      color: rgba(255,255,255,1);
      font-size: 16px;
      position: absolute;
      bottom: 50px;
      left: 75px;
      text-shadow: 0 1px 1px #000;
      line-height: .9em;
      font-family: helvetica neue;
      font-weight: 200;
      width: 50%;
      text-align: left;
      line-height: 1.3em;
    }
    .next {
      position: absolute;
      top: 59%;
      left: 43%;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
     .prev {
     position: absolute;
      top: 59%;
      left: 0%;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
   

   @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone only */
      
     .next {
      position: absolute;
      top: 2%;
      left: 43%;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
     .prev {
      position: absolute;
      top: 2%;
      left: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
    #caption {
      z-index: 99999999;
      color: rgba(255,255,255,1);
      font-size: 16px;
      position: relative;
      left: 50px;
      text-shadow: 0 1px 1px #000;
      line-height: .9em;
      font-family: helvetica neue;
      font-weight: 200;
      width: 75%;
      text-align: left;
      line-height: 1.3em;
    }
   }