<section class="section" id="section4" data-section="7" >
    <div class="container-fluid">
        <div class="row-fluid title">
            <div class="span4">
                <h2>Timeline</h2>
            </div><!-- /span3 -->
        </div><!-- /row-fluid -->
        <div class="span10 visible-desktop">
            <div id="ss-container" class="ss-container">
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 class="custom">Apr 1988</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">1988 Nov</h2>
                    </div>
                </div>
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-9"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-3"></a>
                    </div>
                </div>
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 class="custom">Early</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>
                </div>              
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-10"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-4"></a>
                    </div>
                </div>               
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-11"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-5"></a>
                    </div>
                </div>               
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-12"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-6"></a>
                    </div>
                </div>
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 class="custom">Teenage</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>
                </div>
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-13"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-7"></a>
                    </div>
                </div>
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-14"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-8"></a>
                    </div>
                </div>
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 class="custom">College</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>
                </div>
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-17"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-15"></a>
                    </div>
                </div>
                <div class="ss-row ss-large">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-18"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-16"></a>
                    </div>
                </div>
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 class="custom">And then</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">We Met</h2>
                    </div>
                </div>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-31"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-19"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-20"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-21"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-22"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-23"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-24"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-25"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-26"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-27"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-28"></a>
                    </div>
                </div>
                <div class="ss-row">
                    <div class="ss-left">
                        <h2 class="custom">And We Got</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Engaged!</h2>
                    </div>
                </div>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-29"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-large">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-30"></a>
                    </div>
                </div>
            </div><!-- ss-container -->
        </div><!-- span -->
        <div class="span10 visible-phone">
            <div id="ss-container" class="ss-container">
                    <div class="ss-left">
                        <h2 class="custom">Apr 1988</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">1988 Nov</h2>
                    </div>
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-9"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-3"></a>
                    </div>
                </div>
                    <div class="ss-left">
                        <h2 class="custom">Early</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>         
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-10"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-4"></a>
                    </div>
                </br>
                </div>             
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-11"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-5"></a>
                    </div>
                </div>              
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-12"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-6"></a>
                    </div>
                </div>
                    <div class="ss-left">
                        <h2 class="custom">Teenage</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-13"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-7"></a>
                    </div>
                </div>
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-14"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-8"></a>
                    </div>
                </div>
                    <div class="ss-left">
                        <h2 class="custom">College</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-17"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-15"></a>
                    </div>
                </div>
                <div class="ss-small">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-18"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-16"></a>
                    </div>
                </div>                
                    <div class="ss-left">
                        <h2 class="custom">And then</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">We Met</h2>
                    </div>
                
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-31"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-19"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-20"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-21"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-22"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-23"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-24"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-25"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-26"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-27"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-28"></a>
                    </div>
                </div>
                
                    <div class="ss-left">
                        <h2 class="custom">And We Got</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Engaged!</h2>
                    </div>
                s
                <div class="ss-small">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-29"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-small-end">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-30"></a>
                    </div>
                </div>        
            </div><!-- ss-container -->
        </div><!-- span -->
        <div class="span10 visible-tablet">
            <div id="ss-container" class="ss-container">
                    <div class="ss-left">
                        <h2 class="custom">Apr 1988</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">1988 Nov</h2>
                    </div>
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-9"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-3"></a>
                    </div>
                </div>
                    <div class="ss-left">
                        <h2 class="custom">Early</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>         
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-10"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-4"></a>
                    </div>
                </br>
                </div>             
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-11"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-5"></a>
                    </div>
                </div>              
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-12"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-6"></a>
                    </div>
                </div>
                    <div class="ss-left">
                        <h2 class="custom">Teenage</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-13"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-7"></a>
                    </div>
                </div>
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-14"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-8"></a>
                    </div>
                </div>
                    <div class="ss-left">
                        <h2 class="custom">College</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Years</h2>
                    </div>
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-17"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-15"></a>
                    </div>
                </div>
                <div class="ss-medium">
                    <div class="ss-left">
                        <a class="ss-circle ss-circle-18"></a>
                    </div>
                    <div class="ss-right">
                        <a class="ss-circle ss-circle-16"></a>
                    </div>
                </div>                
                    <div class="ss-left">
                        <h2 class="custom">And then</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">We Met</h2>
                    </div>
                
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-31"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-19"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-20"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-21"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-22"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-23"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-24"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-25"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-26"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-27"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-28"></a>
                    </div>
                </div>
                
                    <div class="ss-left">
                        <h2 class="custom">And We Got</h2>
                    </div>
                    <div class="ss-right">
                        <h2 class="custom">Engaged!</h2>
                    </div>
                
                <div class="ss-medium">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-29"></a>
                    </div>
                </div>
                </br>
                </br>
                <div class="ss-medium-end">
                    <div class="ss-middle" align="center">
                        <a class="ss-circle ss-circle-30"></a>
                    </div>
                </div>        
            </div><!-- ss-container -->
        </div><!-- span -->
    </div><!-- container-fluid -->
</section>